<mat-card *ngIf="mission; else loading">
  <mat-card-header>
    <mat-card-title>{{ mission.mission_name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ mission.details }}</p>
    <img [src]="mission.links.mission_patch_small" alt="Mission Patch" class="mission-patch">
    <p>Rocket: {{ mission.rocket.rocket_name }} ({{ mission.rocket.rocket_type }})</p>
    <div class="links">
      <a mat-button [href]="mission.links.article_link" target="_blank">Article</a>
      <a mat-button [href]="mission.links.wikipedia" target="_blank">Wikipedia</a>
      <a mat-button [href]="mission.links.video_link" target="_blank">Video</a>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <p>Loading mission details...</p>
</ng-template>

